/Java/Example1/nbproject/private/
/Java/Example1/build/
/Java/Hour/nbproject/private/
/Java/Hour/build/
/Java/Exercice1_09-25/nbproject/private/
/Java/Exercice1_09-25/build/
/Java/Exercice2_0925/nbproject/private/
/Java/Exercice2_0925/build/
/Java/Converter/nbproject/private/
/Java/Converter/build/